[user]
	name = Pascal Kuendig
	email = padakuro@gmail.com
[help]
	autoCorrect = 1
[pull]
	default = current
	rebase = true
[push]
	default = current
[rebase]
	stat = true
	autoStash = true
	autoSquash = true
[status]
	short = true
[advice]
  detachedHead = false
