[user]
	name = Pascal Kuendig
	email = padakuro@gmail.com
[help]
	autocorrect = 1
[pull]
	default = current
	rebase = true
[push]
	default = current
[rebase]
	stat = 1
	autoStash = true
[status]
	short = 1
