[submodule "home/.zprezto"]
	path = home/.zprezto
	url = https://github.com/padakuro/prezto
[submodule "home/.vim/bundle/neobundle.vim"]
	path = home/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
