[submodule "zsh/.zprezto"]
	path = zsh/.zprezto
	url = https://github.com/padakuro/prezto
[submodule "vim/.vim/bundle/neobundle.vim"]
	path = vim/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
