#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[en_US]=
Comment=
Exec=vim
GenericName[en_US]=
GenericName=
Name[en_US]=vim
Name=vim
NoDisplay=true
Path=
StartupNotify=true
Terminal=true
TerminalOptions=--hide-tabbar
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
